body {
    font-weight: bold;
}

h1, h2 {
    background: #000;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    font-size: 50px;
}
  
h2 {
    font-size: 40px;
}

ul {
    padding-left: 1em;
}

p, ul {
    font-size: 25px;
}